.sg-primary-color {
    color: $primary-color;
}

.sg-link-color {
    color: $link-color;
}

.sg-success-color {
    color: $success-color;
}

.sg-info-color {
    color: $info-color;
}

.sg-warning-color {
    color: $warning-color;
}

.sg-error-color {
    color: $error-color;
}

.sg-page {
    height: 100%;
    background: #f4f7f9;
	font-size: 24rpx;
	padding: 40rpx;
}

.sg-ellipsis,
.sg-ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.sg-ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.sg-ellipsis-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.sg-fixed-bottom {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    z-index: 999;
}

.sg-m-l-10 {
	margin-left: 20rpx;
}

.sg-m-r-10 {
	margin-right: 20rpx;
}

.sg-m-b-10 {
	margin-bottom: 20rpx;
}